# Ignore node_modules directory, as it contains your project's dependencies.
node_modules/

# Ignore npm's debug log files.
npm-debug.log*

# Ignore yarn's debug log files.
yarn-debug.log*
yarn-error.log*

# Ignore any build or output directories.
/dist/
/build/
/out/
/lib/
/build-output/

# Ignore editor-specific files and directories.
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Ignore macOS system files.
.DS_Store

# Ignore operating system-specific files and directories.
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Ignore log files.
*.log
